<!---TOMASZ SZURA -->

<meta charset="windows-1250" />


<html>

<head>
<title>Strona główna</title>
 {% block stylesheets %}
    <link href="{{ asset('bundles/teamdream/css/glowna.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
</head>

<body>
<p class="jeden"> Strona główna</p>

<p class="dwa">
<a class="glowna" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/glowna"></a>
<a class="onas" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/onas"> </a>
<a class="auta" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/auta"> </a>
<a class="kontakt" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/kontakt"></a>
</p>

<p class="trzy">
<br></br></br></br>
Witamy,  </br></br></br>
Firma TeamDream Polska jest firmą o kanadyjskim rodowodzie,</br>
 działamy na rynku wynajmu samochodów od 1997 roku.</br>
Doświadczenia zdobyte w przemyśle samochodowym w kraju,</br>
 gdzie wymagania w obsłudze klienta stoją na najwyższym światowym poziomie,</br>
  przenieśliśmy na rynek polski.</br>

</p>



</body>

</html>