<!---TOMASZ SZURA -->


<meta charset="windows-1250" />



<html>
<head>
    {% block stylesheets %}
    <link href="{{ asset('bundles/teamdream/css/startowa.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
<title>Strona Startowa</title>

</head>

<body>

<a class="przycisk" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/glowna"></a>
</body>