<!---TOMASZ SZURA -->

<meta charset="windows-1250" />
<link rel="stylesheet" type="text/css" href="kontakt.css" />

<html>

<head>
     {% block stylesheets %}
    <link href="{{ asset('bundles/teamdream/css/glowna.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
<title>Kontakt</title>
</head>

<body>
	
<p class="jeden">Kontakt</p>

<p class="dwa">
<a class="glowna" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/glowna"></a>
<a class="onas" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/onas"> </a>
<a class="auta" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/auta"> </a>
<a class="kontakt" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/kontakt"></a>
</p>


<p class="trzy">
<br></br><br></br>
Kraków</br>
ul. Rakowicka 27 </br>
Kod pocztowy 31-510</br></br>

Telefon: 666-666-666</br></br>

Aby skontaktować sie z nami mailowo kliknij
<a href="mailto:UEKSTANUMYSLU@GMAIL.COm">TU!</a>



</br></br>
Sprawdź jak do nas trafić!</br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.9462464435037!2d19.952931415202546!3d50.06856832268919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b1eec963ba1%3A0x128f85b29388690a!2sUniwersytet+Ekonomiczny+w+Krakowie!5e0!3m2!1spl!2spl!4v1455877704023" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>





</body>
</html>