<!---TOMASZ SZURA -->


<meta charset="windows-1250" />



<html>
<head>
 {% block stylesheets %}
    <link href="{{ asset('bundles/teamdream/css/glowna.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
<title>O nas</title>

</head>

<body>
	
<p class="jeden">O nas</p>

<p class="dwa">
<a class="glowna" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/glowna"></a>
<a class="onas" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/onas"> </a>
<a class="auta" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/auta"> </a>
<a class="kontakt" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/kontakt"></a>
</p>



<p class="trzy">
 </br> </br> </br> </br> </br>
Flota TeamDream Polska składa się z około 10prawie wyłącznie nowych samochodów renomowanych marek.</br>
Dla naszych klientów z USA i Kanady oraz miłośników automatycznych skrzyń biegów mamy dobrą wiadomość, poczynając od klasy Mini, mamy bardzo bogaty wybór pojazdów z automatyczną skrzynią biegów,</br>
 wiele z nich wyposażona jest ponadto w automatyczną klimatyzacją</br>
 </br>
Firma TeamDream Polska Sp. z o.o. zapracowała na dobrą opinię uczciwością w działaniu i otwartością na dynamiczną sytuację rynkową. Nasze zasady są jasne, klarowne i czytelne. </br>
 </br>
Korzystając z naszych usług możecie być Państwo pewni serwisu najwyższej jakości.</br>




</p>




</body>
</html>